@model TradeRiserAPI.Models.ServiceStatusModel

<div class="jumbotron">
    <h1>TradeRiser</h1>
    <p class="lead">TradeRiser API is an api which makes it easy for developers to develop applications to consume our an analysis assistant engine technology.</p>
    <p><a href="~/Help" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Service Status</h2>
        <p>TradeRiser Backend Basic Service State -- @Model.ServiceStatus </p>
    </div>     
</div>

<div class="row">
     <div class="col-md-4">
        <p><a href="~/Help" class="btn btn-primary btn-lg">Full Service Check</a></p>
    </div>  
</div>
