<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <DesktopBuildPackageLocation>E:\NonDeployable\N1.9-18th Julyl 2015\REST\DeploymentPackages\TradeRiserAPI.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>TradeRiserAPI</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UsermanagementConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=&quot;www.traderiseranalytics.com\SQL2012, 58858&quot;;Initial Catalog=CustomUserManagement;Integrated Security=False;User ID=sa;Password=risertrade" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\UsermanagementConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=www.traderiseranalytics.com\SQL2012, 58858;          Initial Catalog=CustomUserManagement;          Integrated Security=false; User ID=sa; Password=risertrade;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=&quot;www.traderiseranalytics.com\SQL2012, 58858&quot;;Initial Catalog=CustomUserManagement;Integrated Security=False;User ID=sa;Password=risertrade" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=www.traderiseranalytics.com\SQL2012, 58858;          Initial Catalog=CustomUserManagement;          Integrated Security=false; User ID=sa; Password=risertrade;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UsermanagementConnection-Web.config Connection String" />
  </ItemGroup>
</Project>